body{
    background:#5d6773;
    margin: 0;
}


.link-title
{
    text-decoration: none;
    font-size: 40px;
    font-style: italic;
    
}
.container {
    width: 780px;
    margin: 0 auto ;
    background:#fff;
}
.header
{
    width: 100px;
    padding: 40px 340px 40px 335px;
    border: 3px solid black;
}
.header a {

    text-align: justify;
    text-shadow: #5d6773;
    color: rgb(28, 51, 51);
    font-style: italic;
    font-size: 40px;
    
}

.menu{
    background: #4c95aa;
    padding: 6px 0 6px 40px;

}
.menu a {
    color: #c4d6db;
    text-decoration: none;
    font-size: 14px;
    font-family: "Arial Narrow", "myriad pro";
}

.menu a:hover {

    color: purple;
}

aside {
        height: 85px;
        width: 85px;
    color: #4c95a7;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: normal;

     margin-top: 1px;
  border-bottom-style: solid;
  margin-bottom: 1px;
  border-bottom-width: 0px;
  padding-left: 8px;
}
h1{
  width: 400px;
  margin-left: 215px;
 
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 20px;
}


h3 {
    color: #0c8323;
    font-size: 15px;
    margin: 20px 0 5px 0;
    margin-top: 0px;
  padding-left: 270px;
  width: 300px

}
h5{
        margin-top: 0px;
        width: 110px;
        margin-left: 330px;
        padding-top: 15px;
}

.main {
    
    
    color: rgb(0, 0, 0);
    text-align: justify;
    width: 500px;
  padding-top: 12px;
  height: 450px;
  margin-bottom: 12px;
  margin-left: 90px;
 
}

footer {
    padding: 6px 40px 6px 40px ;
    background: #d6d6d6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #444444;
    font-size: 11px;
    text-decoration: right;
    margin-top: 250px;

}
.footer a{
    text-decoration: none;
    color: #262626;
    
}

span{
    color: rgb(153, 64, 101);
    font-size: 10px;
    font-weight: 200;

}

#aboutimg img{

  margin-top: 12px;
  margin-left: 12px;
  width: 350px;
  height: 350px;
}


    #homeimg{
        float: right;
    margin-left: 40px;
  margin-top: 25px;
  margin-bottom: 1px;
    }  


#profileinfo{
    
  border:2px solid rgb(111, 111, 185);
  
  text-align: center;
  margin-left: 0px;
  width: 600px;
  
}
#profileinfo h2{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0.5px;
  border-top-width: 0.5px;
  border-top-style: solid;

}
.description{
    text-align: left;
    text-decoration: wavy;
  color: #080303;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 1px;
  
  
}
----------------------------------------------/Contact page/---------------------------------------------------
.footercon{
    margin-top: 0px;
}
.maincon{
  width: 300px;
  height: 100px;
}
.asidecon{
    height: 85px;
    width: 85px;
color: #4c95a7;
font-size: 24px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-weight: normal;

 margin-top: 1px;
border-bottom-style: solid;
margin-bottom: 1px;
border-bottom-width: 0px;
padding-left: 8px;
}

.descriptioncon{
    padding-left: 250px;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 270px;
  width: 530px;
  margin-top: 20px;
}

.descriptioncon p{
    font-size: 18px;
  font-style: italic;
}